@{
    ViewData["Title"] = "Iniciar Sesión";
}


<div class="row jumbotron" style="background-image: url('img/gym1.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <div class="col-md-6 text-white text-center" style="margin-top: 4em;">
        <h1>E-Wellness</h1>
        <legend>Para iniciar sesi&oacute;n, ingrese el nombre de su Centro de Entrenamiento o el correo electr&oacute;nico con el que se registr&oacute;</legend>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div id="CTA" class="col-md-10 text-center rounded" style=" background-color: #ffffff; margin-top: 4em; margin-bottom: 4em;">
                <input id="bussinesEmail" type="text" class="form-control" style="margin-top: 1em;" placeholder="Correo Electrónico">
                <input id="bussinesPass" type="password" class="form-control" style="margin-top: 1em;" placeholder="Contraseña">
                <a class="btn btn-outline-primary" onclick="btnIniciarSesion()" style="margin-top: 1em; margin-bottom: 2em"> Iniciar Sesi&oacute;n </a>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>